# Données personnelles - NE PAS COMMITER
donnees_perso.md
CV.md
*.local.md
.local-*

# CV avec données perso (HTML/PDF)
CV.html
CV.css
CV_Nathalie_AVRIL.pdf
CV Nathalie_AVRIL_20240531.pdf


# Métadonnées Windows/WSL
*:Zone.Identifier

# Archives
*.zip
